@model RoleUserFormModel

<form asp-action="AddRoleToUser" method="post">
    
    <input type="text" asp-for="UserId" hidden value="@Model.UserId"/> 

    @for(int i=0;i<Model.Roles.Count();i++) {
        <input hidden asp-for="@Model.Roles[i].Name" value="@Model.Roles[i].Name"/>
        <input asp-for="@Model.Roles[i].IsSelected" type="checkbox" />
        <label class="form-check-label" asp-for = "Roles[i].IsSelected">@Model.Roles[i].Name</label>
        <hr />
        
    }
    <button class="btn btn-primary">Add</button>
</form>