@model EditUserFormViewModel
<form action="EditUser" method="post">

    <input hidden type="text" asp-for="UserId" value="@Model.UserId" />
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" autocomplete="first-name" aria-required="true" value="@Model.FirstName" />
        <label asp-for="FirstName">First Name</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" autocomplete="last-name" aria-required="true" value="@Model.LastName" />
        <label asp-for="LastName">Last Name</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" value="@Model.Email"/>
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" value="@Model.UserName" />
        <label asp-for="UserName">UserName</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>

</form>

    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
